{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}

<div class="em1-left opacity-90">
    <div class="row em1">
        <div class="col-2" style="min-width: 400px;">
            <a class="btn btn-primary"
               role="button"
               style="width: 100%;"
               href="{% url 'pytorch_segmentation:analyses_clean_up' %}">
                Analyses cleaning-up view
            </a>
        </div>
        <div class="col-2" style="min-width: 400px;">
            <a class="btn btn-primary"
               role="button"
               style="width: 100%;"
               href="{% url 'pytorch_segmentation:export' %}">
                Export
            </a>
        </div>
    </div>
    <div class="row d-flex">
        {% for dataset_context in datasets_and_models %}
            <div class="col-2 em1" style="min-width: 400px;">
                <h5 class="text-color-gray">{{ dataset_context|get_item:'name' }}</h5>
                <div class="dropdown_search_div">
                    <div id="{{ dataset_context|get_item:'identifier' }}" class="dropdown_search_content show">
                        <input type="text" class="dropdown_search_input js-dropdown-filter-input" data-parent_div_id="{{ dataset_context|get_item:'identifier' }}" placeholder="Search..">
                        <div class="default-vt-scroll-menu" style="max-height: 50vh; min-height: 10vh;">
                            {% for analysis in dataset_context|get_item:'models' %}
                                <a class="nav-link-a" href="{% url 'pytorch_segmentation:trained_model_analysis' analysis.pk %}">
                                {% if not analysis.custom_name %}
                                    {{ analysis.architecture }}{% if analysis.backbone %} ({{ analysis.backbone }}){% endif %} ({{ analysis.created_datetime|date:"d.m.y" }})
                                {% else %}
                                    {{ analysis.custom_name }} ({{ analysis.created_datetime|date:"d.m.y" }})
                                {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content_block %}

{% block additional_scripts %}
    <script src="{% static 'pytorch_segmentation/js/dropdown_search.js' %}"></script>
{% endblock additional_scripts %}
