{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary %}

{% block header %}
<link rel="stylesheet" href="{% static 'pytorch_segmentation/css/utils.css' %}">
<!-- load highcharts and annotations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock header %}

{% block content_block %}

<div class="comparison-hz-scroll-menu" style="width: 100%;">
    {% for id_unit_text in hz_navbar_ids_unit_text %}
        <button type="button"
                class="btn btn-primary-form {% if forloop.first %}active{% endif %}"
                id="{{ id_unit_text.0 }}"
                data-data_unit="{{ id_unit_text.1 }}">
            {{ id_unit_text.2 }}
        </button>
    {% endfor %}
</div>

<div class="row em1">

    <div class="col-10">
        <div id="js-comparison-chart" style="width:100%; height:80vh; min-height: 600px;"></div>
    </div>

    <div class="col-2">

        <div class="comparison-vt-scroll-menu" style="height: 15vh; min-height: 100px;">
            <div class="side-by-side-wrapper">
                <div class="div-left-50-percent">
                    <button type="button"
                            class="btn btn-primary-form"
                            style="width: 100%;"
                            id="js-show-2D"
                            {% if not vertical_architecture_buttons %}disabled{% endif %}>
                        Only 2D
                    </button>
                </div>
                <div class="div-right">
                    <button type="button"
                            class="btn btn-primary-form"
                            style="width: 100%;"
                            id="js-show-3D"
                            {% if not vertical_architecture_buttons %}disabled{% endif %}>
                        Only 3D
                    </button>
                </div>
            </div>

            <div class="side-by-side-wrapper">
                <div class="div-left-50-percent">
                    <button type="button"
                            class="btn btn-primary-form"
                            style="width: 100%;"
                            id="js-show-all"
                            {% if not vertical_architecture_buttons %}disabled{% endif %}>
                        Show all
                    </button>
                </div>
                <div class="div-right">
                    <button type="button"
                            class="btn btn-primary-form active"
                            style="width: 100%;"
                            id="js-hide-all"
                            {% if not vertical_architecture_buttons %}disabled{% endif %}>
                        Hide all
                    </button>
                </div>
            </div>
            <div class="side-by-side-wrapper">
                <div class="div-left-50-percent">
                    <button class="btn btn-primary-form text-end"
                            style="width: 100%;"
                            id="js-top-x"
                            disabled>
                        Only top:
                    </button>
                </div>
                <div class="div-right">
                    <div class="form needs-validation" id="best-x-form" novalidate>
                        <div class="form-group">
                            <input class="form-control"
                                   id="js-top-x-input"
                                   data-max_value="{{ vertical_architecture_buttons|length }}"
                                   type="number"
                                   readonly
                                   placeholder="1 to {{ vertical_architecture_buttons|length }}"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            {% if vertical_architecture_buttons %}
                {% for dataset_name, dataset_identifier, dataset_filter_id in dataset_filter_buttons %}
                    {% if forloop.counter0|divisibleby:2 and not forloop.last %}
                        <div class="side-by-side-wrapper">
                        <div class="div-left-50-percent">
                    {% elif not forloop.counter0|divisibleby:2 %}
                        <div class="div-right">
                    {% endif %}
                        <div class="d-flex">
                            <button type="button"
                                    class="btn btn-primary-form btn-sm"
                                    style="width: 100%; margin-top: 0.1em"
                                    data-dataset_identifier="{{ dataset_identifier }}"
                                    data-dataset_filter_button="true"
                                    id="{{ dataset_filter_id }}">
                                <small>Only {{ dataset_name }}</small>
                            </button>
                        </div>
                    {% if forloop.counter0|divisibleby:2 and not forloop.last  %}
                        </div>
                    {% elif not forloop.counter0|divisibleby:2 %}
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="architecturesScrollbar dropdown_search_div" style="margin-top: 1vh;">
            {% if vertical_architecture_buttons %}
                <div id="parent_{{ architecture_id }}" class="dropdown_search_content">
                    <input type="text"
                           class="dropdown_search_input js-dropdown-filter-input"
                           data-parent_div_id="parent_{{ architecture_id }}"
                           placeholder="Search..  click one to activate"
                           style="height: 3vh; min-height: 30px;">
                    <div class="default-vt-scroll-menu" style="height: 60vh; min-height: 450px;">
                        {% for architecture_id, dom_element_properties in vertical_architecture_buttons.items %}
                            <a class="nav-link-a"
                               href="#"
                               id="{{ architecture_id }}"
                               data-dimension="{{ dom_element_properties|get_item:'dimension' }}"
                               {% for dataset_identifier in dom_element_properties|get_item:'dataset_filters' %}
                                   data-dataset_filter_{{ dataset_identifier }}="true"
                               {% endfor %}>
                                {{ dom_element_properties|get_item:'label' }}
                            </a>
                        {% endfor %}
                        <a class="nav-link-a em2"
                           href="{% url 'pytorch_segmentation:trained_model_overview' %}"
                           disabled>
                            Missing some models? Set custom names at the analysis view to enable identification.
                        </a>
                    </div>
                </div>

            {% else %}
                <button type="button"
                        class="btn btn-primary-form"
                        style="width: 100%;"
                        disabled>
                    No models stored
                </button>
            {% endif %}

        </div>

    </div>
</div>

<div class="comparison-hz-scroll-menu" style="width: 100%; margin-top: 0.1em">
    {% for dataset_name, dataset_identifier, dataset_sorting_id in dataset_sorting_buttons %}
        <button type="button"
                class="btn btn-primary-form"
                data-dataset_identifier="{{ dataset_identifier }}"
                id="{{ dataset_sorting_id }}">
            Sort by: {{ dataset_name }}
        </button>
    {% endfor %}
</div>

{% endblock content_block %}

{% block additional_scripts %}
    <p class="js-data-holder"
       data-data_dict="{{ data_dict }}"
       data-hz_navbar_ids="{{ hz_navbar_ids }}"
       data-vt_navbar_ids="{{ vt_navbar_ids }}">
    </p>
    <script src="{% static 'pytorch_segmentation/js/model_comparison.js' %}"></script>
    <script src="{% static 'pytorch_segmentation/js/dropdown_search.js' %}"></script>
{% endblock additional_scripts %}
