{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">I need <a class="form-a " href="https://gitlab.com/fra-wa/pytorch_segmentation#tutorial">Help</a></p>
        {% for form_field in form %}

            {# ---------------- #}
            {# Collapse opening #}
            {# ---------------- #}

            {% if form_field.name == 'do_rotate' %}
                <hr class="bg-secondary border-2 border-top border-secondary">
                <button class="btn btn-primary-form"
                        style="width:100%;"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseAugOperations"
                        aria-expanded="{% if form.errors %}true{% else %}false{% endif %}"
                        aria-controls="collapseAugOperations">
                    Show executable augmentation methods
                </button>
                <div class="collapse{% if form.errors %} show{% endif %}" id="collapseAugOperations">
                    <div class="card card-body background-color-gray">

            {% endif %}

            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'images_folder;dataset_choice;min_dimension;max_augmentations;do_rotate;do_tilt_left;do_optical_distortion;do_squeeze_width;do_brightness;do_to_gray_and_histogram_normalization;do_channel_shuffle;do_random_rain;do_rgb_shift' %}
                <div class="row em1">
            {% endif %}


            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% if not form_field.name|is_in_string_list:'images_folder;masks_folder;output_folder;dataset_choice' %}
                    {% if 'do' in form_field.name %}
                        {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-3' beside_label_min_w='14em' field_col_size='col-3' min_width='9em' %}
                    {%  else %}
                        {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-6' beside_label_min_w='18em' field_col_size='col-3' min_width='9em' %}
                    {% endif %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors %}
                {% endif %}
            </div>

            {# ----------- #}
            {# Placeholder #}
            {# ----------- #}
            {% if form_field.name|is_in_string_list:'' %}
                <div class="col"></div>
            {% endif %}

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'masks_folder;output_folder;max_rot_angle;total_augmentations;do_tilt_forward;do_grid_distortion;do_squeeze_height;do_gaussian_noise;do_sharpen;do_random_erasing;do_random_fog;do_random_sun_flair;do_to_sepia' %}
                </div>
            {% endif %}

            {# ---------------- #}
            {# Collapse closing #}
            {# ---------------- #}
            {% if form_field.name == 'do_to_sepia' %}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>

            {% if process_is_running %}
                <div class="col">
                    <button id="js-run-kill-button" class="btn btn-danger-form" style="width:100%;" type="submit">
                        I read the warning. Run
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% endblock content_block %}
