{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">I need <a class="form-a " href="https://gitlab.com/fra-wa/pytorch_segmentation#tutorial">Help</a></p>
        {% for form_field in form %}
        
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'policy;global_strength;max_rot_angle;resizing_scale_upper;resizing_scale_lower;rotate_by_angle_prob;tilt_prob;grid_distortion_prob;grid_shuffle_prob;brightness_prob;gaussian_noise_prob;color_to_hsv_prob;random_rain_prob;random_sun_flair_prob;to_gray_prob' %}
                <div class="row em1">
            {% endif %}

            {% if form_field.name|is_in_string_list:'policy' %}
                <div class="form-group justify-content-left col-2" style="min-width: 13em;">
                    <div class="form-label-style">
                        {{form_field.label_tag}}
                    </div>
                    <div class="col-5" style="min-width: 9em;">
                        {{ form_field }}
                    </div>
                    {# ------ #}
                    {# Errors #}
                    {# ------ #}

                    {% for key, value in errors.items %}
                        {% if key == form_field.name %}
                            {% for error in errors|get_item:key %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-6">
                    {% if form_field.help_text %}
                        <small class="form-text text-muted form-help-color">{{ form_field.help_text|safe }}</small>
                    {% endif %}
                </div>
                <div class="col justify-content-center" style="min-width: 30em; max-width: 50em;">
                    <button class="btn btn-primary-form" name="sample_creation_submit" style="width:100%;" type="submit">
                        Show examples
                    </button>
                    <small class="form-text text-muted form-help-color">
                        Create examples with the current augmentation settings.
                    </small>
                    <div class="row em1">
                        <div class="col">
                            <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                                Run
                            </button>
                        </div>
                        <div class="col-2">
                            <a role="button" class="btn btn-primary-form" href="{% url 'pytorch_segmentation:new_training' %}" style="width: 100%;">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}


                {# ------ #}
                {# Fields #}
                {# ------ #}

                <div class="col-sm">
                    {% if not form_field.name|is_in_string_list:'policy;global_strength;online_aug_start_epoch;max_augmentations' %}
                        {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-8' beside_label_min_w='15em' field_col_size='col-3' min_width='9em' %}
                    {% else %}
                        {% include '_form_field_simple.html' with field=form_field errors=form.errors field_col_size='col-3' min_width='9em' %}
                    {% endif %}
                </div>
            {% endif %}

            {# --------------------- #}
            {# add extra placeholder #}
            {# --------------------- #}

            {% if form_field.name|is_in_string_list:'to_sepia_prob;vertical_flip_allowed' %}
                <div class="col"></div>
            {% endif %}

            {# -------------------- #}
            {# add two placeholders #}
            {# -------------------- #}
            {% if form_field.name|is_in_string_list:'grid_shuffle_prob' %}
                <div class="col"></div>
                <div class="col"></div>
            {% endif %}

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'policy;max_augmentations;vertical_flip_allowed;tilting_start_factor;tilting_end_factor;squeeze_prob;elastic_distortion_prob;random_crop_prob;grid_shuffle_prob;gaussian_filter_prob;channel_shuffle_prob;random_fog_prob;random_snow_prob;solarize_prob;to_sepia_prob' %}
                </div>
            {% endif %}
            {% if form_field.name|is_in_string_list:'max_augmentations;tilting_end_factor;grid_shuffle_prob' %}
                <hr class="hz-line-gray">
                {% if form_field.name == 'max_augmentations' %}
                    <p style="font-size: 125%; font-weight: 500;">General settings of some operations</p>
                {% elif form_field.name == 'tilting_end_factor' %}
                    <p style="font-size: 125%; font-weight: 500;">Geometric operations</p>
                {% elif form_field.name == 'grid_shuffle_prob' %}
                    <p style="font-size: 125%; font-weight: 500;">Radiometric operations</p>
                {% endif %}
            {% endif %}

        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>

            {% if process_is_running %}
                <div class="col">
                    <button id="js-run-kill-button" class="btn btn-danger-form" style="width:100%;" type="submit">
                        I read the warning. Run
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% endblock content_block %}
