@import url("colors.css");

/* Links ################################################# Links */
/* link with same coloring as navbar */
.nav-link-a {
    color: var(--gray) !important;
    text-decoration: none !important;
}

.nav-link-a:hover {
    color: var(--white) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.form-a {
    color: var(--gray-dark-3);
    text-decoration: none !important;
}

.form-a:hover {
    color: var(--gray-dark-3);
    text-decoration: none !important;
    cursor: pointer;
}

.messages-a-warning {
    color: var(--black);
    text-decoration: none !important;
    font-weight: 500;
}

.messages-a-warning:hover {
    color: var(--gray);
    text-decoration: none !important;
    cursor: pointer;
    font-weight: 500;
}

