@import url("colors.css");

.opacity-90 {
    opacity: 0.9;
}

/* text coloring ############################################### text coloring*/
.text-color-teal {
    color: var(--teal) !important;
}

.text-color-dark-teal {
    color: var(--teal-dark) !important;
}

.text-color-warning {
    color: var(--danger-red-dark) !important;
}

.text-color-white {
    color: var(--white) !important;
}
.text-color-gray-light {
    color: var(--gray-light) !important;
}
.text-color-gray {
    color: var(--gray) !important;
}
.text-color-gray-1 {
    color: var(--gray-dark-1) !important;
}
.text-color-gray-2 {
    color: var(--gray-dark-2) !important;
}
.text-color-gray-3 {
    color: var(--gray-dark-3) !important;
}

/* ############################################### hz lines coloring*/
.hz-line-gray {
    color: var(--gray) !important;
    width: 100%;
    height: 4px !important;
}

.hz-line-dark-gray {
    color: var(--gray-dark-3) !important;
    width: 100%;
    height: 4px !important;
}

/* ###################################################### div background*/
.background-color-teal {
    background: var(--teal) !important;
}

.background-color-dark-teal {
    background: var(--teal-dark) !important;
}
background-color-gray-light {
    background: var(--gray-light) !important;
}
.background-color-gray {
    background: var(--gray) !important;
}
.background-color-gray-dark-1 {
    background: var(--gray-dark-1) !important;
}

.background-color-gray-dark-2 {
    background: var(--gray-dark-2) !important;
}

.background-color-gray-dark-3 {
    background: var(--gray-dark-3) !important;
}

/* Form  ############################################### form */
.form-base-coloring {
    opacity: 0.9;
    background: var(--gray-light);
}
.form-label-style {
    color: var(--gray-dark-3) !important;
    font-weight: 600;
    font-size: 125%;
}

.form-help-color {
    color: var(--gray-dark-1)  !important;
}

.form-switch .form-check-input:focus {
    outline: 3px solid var(--gray-dark-2);
}
.form-switch .form-check-input:checked {
    background-color: var(--gray-dark-2);
    border-color: var(--gray-dark-3);
}

/* Further Content Background ############################### casual background*/
.content-base-background {
    opacity: 0.9;
    background: var(--gray-light);
    color: var(--gray-dark-2);
}

/* Website Background */
body{
    background: url("../images/main_theme/background_large.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* scrollbar ################################################## scrollbar vertical and hz */
/* form */
div.hz-from-scroll-menu {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.hz-scroll-form-btn {
    color: var(--teal);
    background-color: var(--gray-dark-3);
    margin-right: 1px;
}

.hz-from-scroll-menu a:hover, hz-from-scroll-menu a:active, hz-from-scroll-menu a.active {
    background-color: var(--teal);
    color: var(--gray-dark-2);
    border-color: var(--gray-dark-3);
}

/* comparison view */
div.comparison-hz-scroll-menu {
    overflow: auto;
    white-space: nowrap;
}

div.comparison-vt-scroll-menu {
    overflow-y: scroll;
    width: 100%;
    background-color: var(--gray-dark-2);
}

/* default */
div.default-vt-scroll-menu {
    overflow-y: scroll;
    width: 100%;
    background-color: var(--gray-dark-3);
}

/* ################################################################### table*/
table {
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
}
th{

    font-weight: normal;
}

/* ################################################################### range */
input[type=range]::-webkit-slider-thumb {
    background-color: var(--gray-dark-1);
}
input[type=range]::-moz-range-thumb {
    background-color: var(--gray-dark-1);
}
input[type=range]::-ms-thumb {
    background-color: var(--gray-dark-1);
}

/* These are to edit the thumb and the text inside the thumb */
input[type=range] + .thumb {
    background-color: var(--gray);
}
input[type=range] + .thumb.active .value {
    color: var(--gray-dark-3);
}