{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p class="h3">Edit configuration</p>
        {% for form_field in form %}
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            <div class="row 1 em1">
                {# ------------- #}
                {# Fields #}
                {# ------------- #}

                <div class="col-sm">
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-4' beside_label_min_w='15em' field_col_size='col-6' min_width='18em' %}
                </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}
            </div>

        {% endfor %}

        <div class='row em1'>
            {% if configuration %}
            <div class="col-sm">
                <a class="btn btn-danger-form"
                   role="button"
                   href="{% if is_training_config %}{% url 'pytorch_segmentation:delete_training_configuration' configuration.pk %}{% else %}{% url 'pytorch_segmentation:delete_inference_configuration' configuration.pk %}{% endif %}"
                   style="width: 100%;">
                    Delete
                </a>
            </div>
            {% endif %}

            <div class="col mb-1 d-flex justify-content-end">
                <button class="btn btn-success-form"
                        style="{% if not configuration %} width:50%; {% else %} width:100% {% endif %}"
                        type="submit">
                    Save
                </button>
            </div>
        </div>
    </div>

</form>

{% endblock content_block %}
